body {
  background-color: #2F4858;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.title {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.words {
  display: flex;
  font-size: 2.3rem;
}

@media (max-width: 480px) {
  .words {
    font-size: 1.3rem;
    padding: 25px;
  }
}